.mod-blog .topicblock h3 {
	position: relative;
}
.mod-blog .topicblock .rssicon {
	position: absolute;
	right: 0px;
}
.mod-blog .topicblock .fullblog {
	text-align: right;
}
.mod-blog .topicblock .fullblog a {
	text-decoration: underline;
}


.mod-blog .title { 
	color:#767676;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:140%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:118%;
	margin-bottom:0;
}
.mod-blog .title .category {
	color:#6A7398;
}

.mod-blog .title .subject {
	color:#999999;
}

.mod-blog .delim {
	padding-bottom:30px;
} 

.mod-blog ul.tags {
	background: #fff url(../images/tag.gif) no-repeat scroll 0 50%;
	margin: 10px 0 0 0;
	clear: both;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 0.2em 0 0.1em 20px;
	margin-top: 10px;
	display: block;
}

.mod-blog .tags li {
	display: inline;
	font-size: 0.83em;
}
.mod-blog .tags li a:link,
.mod-blog .tags li a:visited {
	color: #666;
}

.mod-blog div.info {
	border: 1px solid #e5e5e5;
	clear: both;
	font-family: Verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.85em;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 2.22em;
	width: 100%;
	color: #7B848D;
	padding: 5px 3px 3px 3px;
}

.mod-blog div.info span,
.mod-blog div.info a {
	vertical-align: top;
}
.mod-blog div.info span {
	vertical-align: top;
	padding: 2px 2em 3px 2px;
}
.mod-blog div.info a {
	color: #c00;
}

.mod-blog div.info .user,
.mod-blog div.info .date,
.mod-blog div.info .comments,
.mod-blog div.info .mod-socialist {
	float: left;
	margin-right: 20px;
}
.mod-blog div.info .mod-socialist {
	margin-top: 3px;
}

.mod-blog div.info a.blog-comments {
	background: #fff url(../images/balloon-left.gif) no-repeat scroll 0 50%;
	/* color: #c00; /**/
	padding-left: 21px; 
	cursor: pointer;
}
 
.mod-blog-tags a {
	margin-right: 1em;
	text-decoration: none;
}
.mod-blog-tags .t75  {font-size: 75%;}
.mod-blog-tags .t80  {font-size: 80%;}
.mod-blog-tags .t85  {font-size: 85%;}
.mod-blog-tags .t90  {font-size: 90%;}
.mod-blog-tags .t95  {font-size: 95%;}
.mod-blog-tags .t100 {font-size: 100%;}
.mod-blog-tags .t105 {font-size: 105%;}
.mod-blog-tags .t110 {font-size: 110%;}
.mod-blog-tags .t115 {font-size: 115%;}
.mod-blog-tags .t120 {font-size: 120%;}
.mod-blog-tags .t125 {font-size: 125%;}
.mod-blog-tags .t130 {font-size: 130%;}
.mod-blog-tags .t135 {font-size: 135%;}
.mod-blog-tags .t140 {font-size: 140%;}
.mod-blog-tags .t145 {font-size: 145%;}
.mod-blog-tags .t150 {font-size: 150%;}


ul.bloglasttopic {
	color:#6A7398;
}
ul.bloglasttopic li {
	list-style-type:none;
	padding-bottom:0.6em;
}
ul.bloglasttopic a {
	margin-right:0.5em;
	text-decoration:none;
}
ul.bloglasttopic .category {
	color:#6A7398;
	font-size:0.92em;
	font-weight:bold;
	margin-right:0.4em;
}
ul.bloglasttopic .topic {
	color:#999999;
}

ul.blogcatblock {
	color:#6A7398;
}
ul.blogcatblock li {
	list-style-type:none;
	padding-bottom:0.4em;
}

ul.blogcommentlive {
	color:#6A7398;
}
ul.blogcommentlive li {
	list-style-type:none;
	padding-bottom:0.6em;
}
ul.blogcommentlive a {
	margin-right:0.5em;
	text-decoration:none;
}
ul.blogcommentlive .showuser {
	font-size:0.87em;
}

ul.blogcommentlive .category {
	color:#6A7398;
	font-size:0.92em;
	font-weight:bold;
	margin-right:0.4em;
}
ul.blogcommentlive .topic {
	color:#999999;
}

