.aw-blog .authorlist .author {
	border-bottom: 1px solid #eee;	
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.aw-blog .author .avtr {
	float: left;
	margin-right: 10px;
}
.aw-blog .author a.username {
	font-family: Verdana, sans-serif;
	font-size: 22px;
}
.aw-blog .author .stat {
	margin-top: 4px;
}
.aw-blog .author .stat a {
	color: #999999;
}
.aw-blog .authorview .topiclist {
	margin-top: 20px;
}
