/* * * * Блок * * * */
.aw-blog .blockbox {
	position: relative;
}
.aw-blog .blockbox .boxtl {
	font-weight: bold;
	padding-bottom: 9px;
	font-size: 120%;
}
.aw-blog .blockbox .boxtl a {
	text-decoration: none;
	color: #6A7398;
}
.aw-blog .blockbox .bloading {
	position: absolute; top: 4px; right: 2px;
}
.aw-blog .blockbox .list {
	color: #6A7398;
}
.aw-blog .blockbox .list li {
	list-style-type: none;
	padding-bottom: 1em;
}
.aw-blog .blockbox .list a {
	margin-right: 0.5em;
	text-decoration: none;	
}
.aw-blog .blockbox a.category {
	color: #6A7398;
	font-weight: bold;
	margin-right: 0.4em;
}
.aw-blog .blockbox a.topic {
	color: #999999;	
}

.aw-blog .taglistbox ul {
	text-align: center;
	white-space: normal;
	word-wrap: break-word;	
}
.aw-blog .taglistbox li {
	display: inline;
	line-height: 18px;
}
.aw-blog .taglistbox a.tag {
	text-decoration: underline;
}
.aw-blog .taglistbox li a.sz-0 { font-size: 80%; }
.aw-blog .taglistbox li a.sz-1 { font-size: 80%; }
.aw-blog .taglistbox li a.sz-2 { font-size: 90%; }
.aw-blog .taglistbox li a.sz-3 { font-size: 90%; }
.aw-blog .taglistbox li a.sz-4 { font-size: 110%; }
.aw-blog .taglistbox li a.sz-5 { font-size: 110%; }
.aw-blog .taglistbox li a.sz-6 { font-size: 110%; }
.aw-blog .taglistbox li a.sz-7 { font-size: 130%; }
.aw-blog .taglistbox li a.sz-8 { font-size: 130%; }
.aw-blog .taglistbox li a.sz-9 { font-size: 150%; }
.aw-blog .taglistbox li a.sz-10 { font-size: 150%; }

