/* * * * Список * * * */
.aw-blog .topiclist .topic {
	margin-bottom: 30px;
}

/* * * * Топик * * * */
.aw-blog .topic .intro {
	margin-top: 10px;
	font-family: Verdana,Tahoma,sans-serif;
	line-height: 1.6em;
	font-size: 1.1em;
}
.aw-blog .topic .title a {
	color: #6A7398;
	font-family: Verdana,Tahoma,sans-serif;
    font-size: 1.5em;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 118%;
}
.aw-blog .topic .title a.toptl {
	color: #999999;
}
.aw-blog .topic .readmore,
.aw-blog .topic .taglist,
.aw-blog .topic .topicinfo {
	margin: 12px 0;
}

/* * * Информационный блок топика * * */
.aw-blog .topicinfo {
    font-family: Verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.9em;
	color: #7B848D;
}
.aw-blog .topicinfo .tpinbox {
	border-radius: 5px;
	border: 1px solid #E5E5E5;
	float: left;
	padding-right: 17px;
}
.aw-blog .topicinfo .topicvote,
.aw-blog .topicinfo .user,
.aw-blog .topicinfo .date,
.aw-blog .topicinfo .comments {
	padding-left: 17px;
	float: left;
}
.aw-blog .topicinfo .user,
.aw-blog .topicinfo .date,
.aw-blog .topicinfo .comments {
	line-height: 34px;
}
.aw-blog .topicinfo .topicvote {
	margin-top: 10px;
}
.aw-blog .topicinfo .user .avtr {
	margin-top: 4px;
	margin-right: 10px; 
}
.aw-blog .topicinfo .user a {
	float: left;
	white-space: nowrap;
}
.aw-blog .topicinfo .user a,
.aw-blog .topicinfo .comments a  {
    color: #CC0000;
}
.aw-blog .topicinfo .comments a  {
	background: url("/modules/blog/images/balloon-left.gif") no-repeat scroll 0 50%;
	padding-left: 20px;
}

/* * * Список тегов * * */
.aw-blog .taglist ul {
	background: url("/modules/blog/images/tag.gif") no-repeat scroll 0 50% #FFFFFF;
	list-style: none outside none;
    padding: 0.2em 0 0.1em 20px;
    display: block;
    min-height: 14px;
}
.aw-blog .taglist li {
	display: inline;
	font-size: 0.83em;
}
.aw-blog .taglist a {
	color: #666666;
}