/* * * * Общие * * * */
.aw-blog .write select.catlist {
	width: 250px;
	padding: 3px;
}
.aw-blog .write input {
	padding: 3px;
}


/* * * * Topic * * * */
.aw-blog .topiceditor .edstedit .edstnew,
.aw-blog .topiceditor .edstnew .edstedit {
	display: none;
}

.aw-blog .topiceditor input.fldtitle {
	width: 670px;
}

.aw-blog .topiceditor textarea.fldtext {
	width: 670px;
	height: 350px;
}

