.aw-blog .topic {
  .tagList {
    color: #999999;
    a {
      color: #999999;
      margin-left: 5px;
      white-space: nowrap;
    }
  }
  
}

.aw-blog {

  /* * * Информационный блок топика * * */
  .topicinfo {
    font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #7B848D;
  }
  .topicinfo .tpinbox {
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    float: left;
    padding-right: 17px;
  }
  .topicinfo .topicvote,
  .topicinfo .user,
  .topicinfo .date,
  .topicinfo .comments,
  .topicinfo .socialist {
    padding-left: 17px;
    float: left;
  }
  .topicinfo .user,
  .topicinfo .date,
  .topicinfo .comments {
    line-height: 34px;
  }
  .topicinfo .topicvote {
    margin-top: 10px;
  }
  .topicinfo .socialist {
    margin-top: 9px;
  }
  .topicinfo .user .avtr {
    margin-top: 4px;
    margin-right: 10px;
  }
  .topicinfo .user a {
    float: left;
    white-space: nowrap;
  }
  .topicinfo .user a,
  .topicinfo .comments a {
    color: #CC0000;
  }
  .topicinfo .comments a {
    background: url("/modules/blog/images/balloon-left.gif") no-repeat scroll 0 50%;
    padding-left: 20px;
  }
}